
<h1 style="text-align: center; padding-top: 10%"> Welcome to <i>Partner In Crime</i>!</h1>
<h2 style="text-align: center;">You need a ride or die? Do not fear! Lets get started. Go to</h2>
<div style="padding-left:45%; padding-top: 3%">
<a href="/signup"><button name="Btn_signup">Sign Up!</button></a> or 
<a href="/login"><button name="Btn_login">Log In!</button></a>
</div>
