


    <h2>Log in here!</h2>
    <form action="/login" method="POST">
    <label for="email">Email</label> <br>
    <input type="email" name="email" class="email" required> <br>
    {{errormessage}} <p></p>

    <label for="password">Password</label> <br>
    <input type="password" name="password" id="password" required> <p></p>

    <button type="submit" class="loginBtn">Log in!</button> <p></p>
     ..or go to <a href="/signup">Sign up!</a>
    </form>

<
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="../static/like-dislike.js">
window.jQuery || document.write('<script src="http://mysite.com/jquery.min.js"><\/script>')
</script>