
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up!</title>
</head>
<body>
    
    <h2>Sign up here!</h2>
    <form action="/signup" method="POST">
    <label for="username">Username</label> <br>
    <input type="text" name="username" id="username" required> <p></p>

    <label for="date">Age</label> <br>
    <input type="number" name="age" id="age" required> <p></p>

    <label for="sex">Your gender</label><br>
    Female <input type="radio" name="sex" id="female" value="female" required> <br>
    Male <input type="radio" name="sex" id="male" value="male" required> <p></p>

    <label for="prefereedSex">Your prefereed sex (optional)</label><br>
    Female <input type="radio" name="preferredSex" id="Female" value="female"> <br>
    Male <input type="radio" name="preferredSex" id="Male" value="male"> <p></p>

    <label for="interests">Your interests</label><br>
    <input type="text" name="interests" id="interests"> <p></p>
   

    <label for="email">Email</label> <br>
    <input type="email" name="email" id="email" required> <p></p>

    <label for="password">Password</label> <br>
    <input type="password" name="password" id="password" required> <p></p>

    <button type="submit">Sign up!</button> <p></p>
     ..or go to <a href="/login">Log in!</a>
    </form>

</body>
    
